.Popping>span{
    text-shadow:  none;
}
.popped>span{
    animation: pop 200ms forwards;
}
@keyframes pop {
    0%{
        text-shadow: none;
    }
    100%{
        text-shadow:  9px 9px 18px #797971,
        -9px -9px 18px #ffffff;
    }
}