.TypoPop{
    flex : 0.06;
    height: 75%;
    min-width: 80px;
    min-height: 80px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 10px;
    z-index: 3;
    color: var(--display-light);
    text-shadow: none;
    background-color: var(--background-light);
    box-shadow:  10px 10px 23px #d9d8ca,
            -10px -10px 23px #fffff2;
    transition: all 200ms ease-in-out;
    position: relative;
    z-index: 1;
}
/* .TypoPop-popped{
    
} */
/* @keyframes popped {
    0%{
        color: var(--display-light);
        text-shadow: none;
        background-color: var(--background-light);
        box-shadow:  10px 10px 23px #d9d8ca,
             -10px -10px 23px #fffff2;
    }
    91%{
        color: var(--display-light);
        text-shadow: none;
        background-color: var(--background-light);
        box-shadow:  10px 10px 23px #d9d8ca,
             -10px -10px 23px #fffff2;
    }
    92%{
        color: var(--display-dark);
        text-shadow: 2px 1px 4px #41ffd6;
        box-shadow: inset 10px 10px 22px #cdccbf,
            inset -10px -10px 22px #fffffd;

    }
    96%{
        color: var(--display-dark);
        text-shadow: 2px 1px 4px #41ffd6;
        box-shadow: inset 10px 10px 22px #cdccbf,
            inset -10px -10px 22px #fffffd;
    }
    100%{
        color: var(--display-light);
        text-shadow: none;
        background-color: var(--background-light);
        box-shadow:  10px 10px 23px #d9d8ca,
             -10px -10px 23px #fffff2;
    }
} */
.TypoPop-clicked{
    color: var(--display-dark);
    text-shadow: 2px 1px 4px #41ffd6;
    box-shadow: inset 10px 10px 22px #cdccbf,
        inset -10px -10px 22px #fffffd;
}
.TypoPop-hide{
    border: none;
    z-index: 0;
    border-radius: none;
    color: var(--background-light);
    background-color: var(--background-light);
    box-shadow: none;
    animation: none;
}