.TypoPop{
    flex : 0.05;
    height: 60%;
    margin: 0;
    padding: 0;
    color: var(--display-light);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    color: var(--background-light);
    background-color: var(--background-light);
    box-shadow: none;
    position: relative;
    z-index: 1;
}
.TypoPop-popped{
    border-radius: 10px;
    z-index: 3;
    color: var(--background-light);
    animation: popped 3.7s 8s forwards;
}
@keyframes popped {
    0%{
        color: var(--background-light);
        text-shadow: none;
        background-color: var(--background-light);
        box-shadow: none;
    }
    30%{
        color: var(--display-light);
        text-shadow: none;
        box-shadow:  10px 10px 22px #a4a499,
             -10px -10px 22px #ffffff;
    }
    80%{
        color: var(--display-dark);
        text-shadow: 2px 1px 4px #41ffd6;
        box-shadow: inset 10px 10px 22px #a4a499,
            inset -10px -10px 22px #ffffff;
    }
    100%{
        color: var(--background-light);
        text-shadow: none;
        background-color: var(--background-light);
        box-shadow: none;
    }
}