@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=JetBrains+Mono&family=PT+Sans+Caption&display=swap');

:root{
  --background-dark: #141E27;
  --background-light : #EEEDDE;
  --header-light : #19282F;
  --header-dark : #e0e0e2;
  --subhead-light : #454c50;
  --subhead-dark :  #f7faf3;
  --display-dark : #40eec8;
  --display-light : #727a88;
  --button-light-primary : #15a06b;
  --button-dark-primary : #54E346;
  --button-light-secondary : #F0A500;
  --button-dark-secondary : #F9D56E;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.typing-text {
  font-family: 'JetBrains Mono', monospace;
}
